<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Venda de Barbies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div>
          <ion-card>
            <img src="https://rihappy.vtexassets.com/arquivos/ids/3155992/100171534_1.jpg?v=637873759707470000">
            <ion-card-content>
              <p>Barbie Viajante com Pet e Adesivos</p>
              <p class="ion-text-right">
                <ion-badge color="medium">177,99</ion-badge>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

      <ion-col size="6">
        <div>
          <ion-card>
            <img src="https://rihappy.vtexassets.com/arquivos/ids/3156303/100329929_1.jpg?v=637873763232900000">
            <ion-card-content>
              <p>Barbie Aniversário Do Cachorrinho</p>
              <p class="ion-text-right">
                <ion-badge color="medium">169,90</ion-badge>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

      <ion-col size="6">
        <div>
          <ion-card>
            <img src="https://rihappy.vtexassets.com/arquivos/ids/3155586/100439123_1.jpg?v=637873755014370000">
            <ion-card-content>
              <p>Barbie Dreamhouse Adventures</p>
              <p class="ion-text-right">
                <ion-badge color="medium">224,17</ion-badge>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

      <ion-col size="6">
        <div>
          <ion-card>
            <img src="https://rihappy.vtexassets.com/arquivos/ids/1487089/Boneca---Barbie---Fashionista---Conjunto-Bem-Estar---Dia-de-Spa---Mattel-0.jpg?v=637606759691100000">
            <ion-card-content>
              <p>Barbie Conjunto Bem Estar</p>
              <p class="ion-text-right">
                <ion-badge color="medium">149,99</ion-badge>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

      <ion-col size="6">
        <div>
          <ion-card>
            <img src="https://rihappy.vtexassets.com/arquivos/ids/388012/Mattel---BB-BANHO-CACHORRINHOS-FXH11_Frente.jpg?v=636971527092230000">
            <ion-card-content>
              <p>Barbie Banho Dos Cachorrinhos</p>
              <p class="ion-text-right">
                <ion-badge color="medium">179,99</ion-badge>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>

      <ion-col size="6">
        <div>
          <ion-card>
            <img src="https://rihappy.vtexassets.com/arquivos/ids/3156180/100431018_2.jpg?v=637873761321570000">
            <ion-card-content>
              <p>Barbie Conjunto de Sucos Tropicais</p>
              <p class="ion-text-right">
                <ion-badge color="medium">189,99</ion-badge>
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
